<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="/css/jquery.fullPage.css" type="text/css">
<link rel="stylesheet" href="/css/tourlist.css">
<link rel="stylesheet" href="/css/font.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/jquery.fullPage.js"></script>
</head>
<body>
    <div id="fullpage">
        <div class="section">
                <div id="header">
                    <div class="header_title">
                        <div class="header_title_main">TOUR HOLIC</div>
                        <div class="header_title_sub">여행에 빠지다</div>
                    </div>
                </div>
                <div class="container">
                    <div class="left_side">
                        <div class="navi">
                            <div class="navi_list home">홈</div>
                            <div class="navi_list list">여행 목록</div>
                            <div class="navi_list">관광지</div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="content_list">
                            <table>
                                <tr>
                                    <th colspan="2">여행 제목</th>
                                    <th>여행 날짜</th>
                                </tr>
                                <tr>
                                    <th colspan="2">나의 여행</th>
                                    <th>2021 - 04 - 22</th>
                                </tr>
                                <tr>
                                  <th>No</th>
                                  <th>관광지명</th>
                                  <th>주소</th>
                                </tr>
                                <tr>
                                  <td>1</td>
                                  <td>Smith</td>
                                  <td>서울특별시 성동구 독서당로 272 대우아파트 111동 904호</td>
                                </tr>
                              </table>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</body>
</html>